
venv_new/bin/activate
venv_new/bin/activate.csh
venv_new/bin/activate.fish
venv_new/bin/Activate.ps1
venv_new/bin/chardetect
venv_new/bin/pip
venv_new/bin/pip3
venv_new/bin/pip3.8
venv_new/bin/pyjwt
venv_new/bin/python
venv_new/bin/python3
venv_new/bin/python3.8
venv_new/lib/python3.8/site-packages/__pycache__/dicttoxml.cpython-38.pyc
venv_new/lib/python3.8/site-packages/_distutils_hack/__init__.py
venv_new/lib/python3.8/site-packages/_distutils_hack/__pycache__/__init__.cpython-38.pyc
venv_new/lib/python3.8/site-packages/_distutils_hack/__pycache__/override.cpython-38.pyc
venv_new/lib/python3.8/site-packages/_distutils_hack/override.py
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/INSTALLER
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/LICENSE
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/METADATA
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/RECORD
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/top_level.txt
venv_new/lib/python3.8/site-packages/certifi-2020.12.5.dist-info/WHEEL
venv_new/lib/python3.8/site-packages/certifi/__init__.py
exercise_5/__pycache__/file_admin.cpython-38.pyc
exercise_5/__pycache__/sql_admin.cpython-38.pyc
exercise_3/__pycache__/exercise_3.cpython-38.pyc
